.Form {
    width: 70%;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 700;
  }
  
  .form_img_prev {
    width: 50%;
    height: 300px;
    background-position: center;
    background-size: cover;
    margin: 10px auto 5px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
  }
  
  .form_input_box {
    width: 90%;
    height: 50px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 auto;
  }
  
  
  .form_text_box {
    width: 90%;
    margin: 3px auto 10px;
  }
  .form_text_box > p {
    margin: 0 0 7px;
  }
  textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    font-family: 'Open Sans','Courier New', Courier, monospace;
    font-size: 12px;
  }
  
  .form_button {
    position: relative;
    left: 90%;
  }