@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
.App {
  padding: 20px 20px 20px 100px;
  font-family: 'Open Sans', 'Courier New', Courier, monospace;
  background-color: #f2f2f2;
  min-width: 100%;
  min-height: 100vh;
}

.dark_button {
  border-radius: 1px;
  background-image: -webkit-radial-gradient(50% -46%, circle, #737373, #403d39);
  background-image: -o-radial-gradient(50% -46%, circle, #737373, #403d39);
  background-image: radial-gradient(circle at 50% -46%, #737373, #403d39);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  color: white;
  border: none;
}

.content_box {
  border-radius: 2px;
  background-color: white;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.title {
  font-size: 40px;
  font-weight: 700;
  color: #ff9770;
  margin: 0 0 10px;
}

.author_box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-align: end;
      align-items: flex-end;
  width: 30%;
}
.author_box > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin: 0 5px;
}

@-webkit-keyframes rotating {
  from{
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotating {
  from{
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.load_box {
  margin: 100px auto;
  width: 200px;
  position: relative;
  -webkit-animation: rotating .75s linear infinite;
          animation: rotating .75s linear infinite;
}
.load_background {
  border-radius:50%;
  border: 10px solid #ff70a6;
  border: 10px solid #ffd670;
  width: 200px;
  height: 200px;
}
.load {
  border-radius:50%;
  border-left: 10px solid #ffd670;
  border-top: 10px solid #ffd670;
  border-left: 10px solid #ff70a6;
  border-top: 10px solid #ff70a6;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}